.openFiltersButton {
  height: 50px;
  width: 130px;

  background-color: var(--primary);

  border-radius: 10px;
  border: none;

  font-size: 22px;
  font-weight: 600;
  color: white;

  opacity: 0.9;
  transition: opacity 0.1s ease-out;

  margin-top: 20px;
}

.openFiltersButton:hover {
  opacity: 1;
}